<div class="card text-center mt-3">
    <br>
    <h4 class="card-title"># {{pokemon.id}}</h4>
    <img class="card-img-top mx-auto d-block img-thumb img-fluid" [src]="pokemon.id | pokemonImagen" [alt]="pokemon.name">
    <div class="card-body">
      <h4 class="card-text">{{pokemon.species.name | capitalize }}</h4>
      <h3>
        <span *ngFor="let item of pokemon.types" 
        [style.background]="getTypeColour(item.type.name)"
        class="badge text-white mr-2">{{item.type.name | capitalize}}</span>
      </h3>
    </div>
</div>
