<div *ngIf="loading">
    <div class="card">
        <div class="card-header bg-red text-white">
            <h5 class="mb-0">Evoluciones</h5>
        </div>
        <div class="card-body">
            <div class="card-columns" >
                <div class="card text-center  " *ngFor="let pokemonEvo of pokemon as result ">
                    <h6 class="text-muted mt-3" *ngIf="result.length === 1">Este Pokémon no evoluciona.</h6>
                    <h4 class="card-title font-weight-bold mt-3">N.º{{pokemonEvo.id}}</h4>
                    <img 
                        (click)="verMas(pokemonEvo.id)"
                        class="card-img-top mx-auto d-block img-thumb img-fluid puntero"
                        [src]="pokemonEvo.id | pokemonImagen:1 " [alt]="pokemonEvo.name">
                    <div class="card-body">
                        <h4 class="card-title">{{pokemonEvo.name | capitalize}}</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>