<div *ngIf="!pokemonLoading">
    <h1>{{pokemon.name | capitalize}} <small class="text-muted">Nº{{pokemon.id}}</small></h1>

    <div class="row">
        <div class="col-md-3">

            <img class="img-fluid " [src]="pokemon.id | pokemonImagen:true" [alt]="pokemon.name">
            <div class="row">
                <div class="col-md-6 ">
                    <h5>
                        Altura
                    </h5>
                    {{pokemon.height/10}} m

                </div>
                <div class="col-md-6 ">
                    <h5>Peso</h5>
                    {{pokemon.weight/10}} kg
                </div>
                <div class="col-md-12 mt-1">
                    <h5>Tipo</h5>
                    <h4>
                        <span *ngFor="let item of pokemon.types" [style.background]="getTypeColour(item.type.name)"
                            class="badge text-white mr-2">{{item.type.name | typeToSpanish | capitalize}}</span>
                    </h4>
                </div>
            </div>

        </div>
        <div class="col-md-9">

            <h5>{{pokemon.genera[4].genus}}</h5>
            <div class="text-justify">
                {{pokemon.flavor_text_entries | flavorTextToSpanish}}
            </div>


            <div class="mt-1">
                <app-stats-detail [stats]="pokemon.stats"></app-stats-detail>
            </div>

            <div class="mt-1">
                <app-type-relations-detail [pokemonTypes]="pokemon.types"></app-type-relations-detail>
            </div>

        </div>


    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <app-evolution-detail [pokemonChainID]="pokemon.idChain"></app-evolution-detail>
            <button [routerLink]="['/home']" type="button" class="btn bg-red text-white float-right mt-5"> <i
                    class="fa fa-arrow-left"></i> Regresar</button>
        </div>
    </div>
</div>